html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #666666;
    text-rendering: optimizeLegibility;
    /* background: #f9f9f9; */
}

#main-container{
    background: #fff;
}

.pagination {
	float: right;
}

.table thead > tr > td, .table tbody > tr > td {
    vertical-align: middle;
}